<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <jmxConfigurator />
    ​
   
    
    <!-- Example for logging into the build folder of your project -->
    <!-- <property name="LOG_FILE" value="${BUILD_FOLDER:-build}/itwtcs"/> -->​

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]){yellow} %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
	
	<property name="LOG_HOME" value="logs/itwtcs" />
	
    <!-- Appender to log to console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs-->
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    
     
  
    <!-- Appender to log to file -->
    <appender name="RollingFiles" class="ch.qos.logback.core.rolling.RollingFileAppender" >
    	<file>${LOG_HOME}/itwtcs.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    		<fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/itwtcs_log_%d{yyyyMMdd}.%i.log.zip</fileNamePattern>
    		 <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 64 MB -->
                <maxFileSize>64 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
    		<maxHistory>30</maxHistory>
    		<!-- 日志总保存量为10GB -->
			<totalSizeCap>20GB</totalSizeCap>
    	</rollingPolicy>
    	<encoder>
    		<pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
    	</encoder>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <!-- Safely log to the same file from multiple JVMs. Degrades performance! -->
        <prudent>false</prudent>
    </appender>​

    <!-- Appender Error to log to file -->
    <appender name="RollingFilesError"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/itwtcs_error.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/itwtcs_error_log_%d{yyyyMMdd}.%i.log.zip
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 64 MB -->
                <maxFileSize>64 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <!-- 日志总保存量为10GB -->
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <!-- Safely log to the same file from multiple JVMs. Degrades performance! -->
        <prudent>false</prudent>
    </appender>
       ​
    <root level="INFO">
    	
        <appender-ref ref="console"/>
        <appender-ref ref="RollingFiles"/>
        <appender-ref ref="RollingFilesError"/>
    </root>
    
</configuration>